APP_NAME=skeleton
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=host.docker.internal
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=hyperf
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=host.docker.internal
REDIS_AUTH=
REDIS_PORT=6379
REDIS_DB=0

AUTH_TOKEN_TTL=7200
AUTH_LOCK_TTL=10
SNOWFLAKE_WORKER_ID=1
